#ucfheader {
	background: #000000 url("http://www.ucf.edu/img/header_border.png") repeat-x bottom;
	height: 32px;
	padding-top: 4px;
	padding-bottom: 2px;
	vertical-align: middle;
}
#ucfheader_wrap {
	margin: 0 auto;
	max-width: 1000px;
	min-width: 320px;
}
#ucfheader_title {
	display: inline;
}
#ucfheader_title a {
	background: #000000 url("http://www.ucf.edu/imresources/sites/WWWUCFEDU/content/live/GLOBAL_PROPERTIES/0/GP1/en_US/ucflogo.png") no-repeat center center;
	float: left;
	height: 29px;
	text-indent: -9999px;
	width: 318px;
}
#ucfheader_links {
	float: right;
	margin-top: 4px;
	width: 130px;
}
#ucfheader_links select {
	width: 130px;
}
#ucfheader_myucf {
	display: inline;
}
#ucfheader_myucf a {
	background: url("http://www.ucf.edu/img/myucf.png") no-repeat center center;
	float: right;
	text-indent: -9999px;
	margin: 5px 10px 0 10px;
	width: 60px;
}
#ucfheader_search {
	float: right;
	margin-top: 4px;
	width: 120px;
}
#ucfheader_search input.text {
	width: 90px;
}
#ucfheader_search input.submit {
	margin-top: 2px;
	vertical-align: top;
}

@media (max-width: 700px) {
	#ucfheader_links {
		display: none;
	}
}
@media (max-width: 550px) {
	#ucfheader_myucf {
		display: none;
	}
}
@media (max-width: 460px) {
	#ucfheader_search {
		display: none;
	}
	#ucfheader_title a {
		width: 100%;
	}
}